/* TEST */
/* div {
  border-color: red;
  border-width: 1px;
  border-style: solid;
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@700&display=swap');


body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  font-family: 'Inter', sans-serif;
}

.balloon {
  max-width: max(200px, 60%);
  max-height: 10%;
  padding-left: 20%;
}

.portrait-div {
  padding-top: 5%;
}

.portrait {
  border-radius: 50%;
  object-fit: contain;
  width: max(150px, 15vw);
  border: #000 max(5px, 0.5vw) solid;
  display: block;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.main-content,
.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.button-image {
  max-width: 60%;
  display: block;
  margin: 0 auto;
  padding-top: 10%;
}

.about {
  padding-top: 5%;
}

.portfolio-thumbnail {
  max-width: 60%;
  display: block;
  margin: 0 auto;
  padding-top: 10%;
}

.portfolio-first {
  padding-top: 5%;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vw;
  width: 100%;
  max-width: 800px;
}

.footer-copyright {
  padding-left: 1vw;
}

.footer-icons8 {
  padding-right: 1vw;
}
