body {
  background-color: #fafafa;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1
}

/* div {
  border-color: red;
  border-width: 1px;
  border-style: solid;
} */

.balloon {
  max-width: 35%;
  max-height: 10%;
  padding-left: 10%;
}

.portrait {
  border-radius: 50%;
  object-fit: contain;
  min-width: 20vw;
  max-width: 35vw;
  border: #000 10px solid;
}

.portrait-div {
  margin-right: 0%;
  margin-left: auto;
}

.accordion-header {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-block;
}

.accordion-content {
  padding: 0 15px;
  display: none;
  overflow: hidden;
  background-color: #f9f9f9;
  transition: max-height 0.3s ease;
  /* position: absolute; */
  width: 90%;
}

.portfolio-thumbnail {
  width: 5vw;
}

.geekout {
  margin-top: 5%;
}

.portfolio-item {
  display: inline-flex;
}

.portfolio-paragraph {
  padding: 5%
}

.accordion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  min-width: 20vw;
  max-width: 35vw;
  margin-left: auto;
  padding-right: 20%;
  padding-top: 2vw;
  text-align: justify;
}

.main-content {
  display: flex;
}

.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vw;
}

.footer-copyright {
  padding-left: 1vw;
}

.footer-icons8 {
  padding-right: 1vw;
}